{
  "extends": ["eslint:recommended", "airbnb", "prettier"],

  "plugins": ["import", "prettier"],

  "env": {
    "browser": true,
    "jest": true
  },

  "rules": {
    "prettier/prettier": "error"
  },

  "parser": "babel-eslint"
}
